In [1]:
import gspread
import pandas as pd

 # Take input from the end-user
path = input("Enter the `Credentials.json` file path:\n")
src_sheet_id = input("Enter the source Spreadsheet ID:\n")
dest_sheet_id = input("Enter the destination Spreadsheet ID:\n")
file_path = path.replace('"','')

# Authorize the service account using credential file
gc = gspread.service_account(filename=file_path)

# Opening the source and destination file by their ID
source_sheet = gc.open_by_key(src_sheet_id)
dest_sheet  = gc.open_by_key(dest_sheet_id)

# Appending the worksheets into master sheet using pandas
sheet_list = []
n = source_sheet.worksheets()
combined_df = pd.DataFrame()
for sheet in n:
    curr = pd.DataFrame(source_sheet.worksheet(sheet.title).get_all_records())
    combined_df=pd.concat([curr,combined_df])

# checking duplicate values in the dataframe
print(combined_df.duplicated().sum())

Enter the `Credentials.json` file path:
 "C:\Users\dell\Downloads\sheet-automation-425802-c6d3fdcc5826.json"
Enter the source Spreadsheet ID:
 1cbkcdBQjGVP-ZlakltvDWlkPWcSO4whiuZZBw8NNPf8
Enter the destination Spreadsheet ID:
 1Kq3U0XSGNFXeTM5Cu39bGZYGT7bcwjQPdAi5aRJC2Sg

0

In [2]:
# dropping the duplicate value from the dataframe
combined_df.drop_duplicates(inplace=True)

In [3]:
print(combined_df.duplicated().sum())

0

In [4]:
combined_df.shape

(1093, 16)

In [5]:
print(combined_df.describe())
print(combined_df.info())

          Order ID         Cost        Sales       Profit     Quantity
count  1093.000000  1093.000000  1093.000000  1093.000000  1093.000000
mean   2244.000000   157.133577   315.569076   158.435499     3.752059
std     315.666227   323.496551   525.162963   307.587536     2.192605
min    1698.000000     0.000000     5.000000     1.000000     1.000000
25%    1971.000000    18.000000    52.000000    19.000000     2.000000
50%    2244.000000    53.000000   133.000000    53.000000     3.000000
75%    2517.000000   156.000000   339.000000   152.000000     5.000000
max    2790.000000  3659.000000  5274.000000  3096.000000    14.000000
<class 'pandas.core.frame.DataFrame'>
Index: 1093 entries, 0 to 74
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       1093 non-null   int64
 1   Order Date     1093 non-null   object
 2   Customer Name  1093 non-null   object
 3   City           1093 non-null   object
 4   Country        1093 non-null   object
 5   State          1093 non-null   object
 6   Region         1093 non-null   object
 7   Segment        1093 non-null   object
 8   Ship Mode      1093 non-null   object
 9   Category       1093 non-null   object
 10  Sub-Category   1093 non-null   object
 11  Product Name   1093 non-null   object
 12  Cost           1093 non-null   int64
 13  Sales          1093 non-null   int64
 14  Profit         1093 non-null   int64
 15  Quantity       1093 non-null   int64
dtypes: int64(5), object(11)
memory usage: 145.2+ KB
None

In [6]:
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1093 entries, 0 to 74
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       1093 non-null   int64
 1   Order Date     1093 non-null   object
 2   Customer Name  1093 non-null   object
 3   City           1093 non-null   object
 4   Country        1093 non-null   object
 5   State          1093 non-null   object
 6   Region         1093 non-null   object
 7   Segment        1093 non-null   object
 8   Ship Mode      1093 non-null   object
 9   Category       1093 non-null   object
 10  Sub-Category   1093 non-null   object
 11  Product Name   1093 non-null   object
 12  Cost           1093 non-null   int64
 13  Sales          1093 non-null   int64
 14  Profit         1093 non-null   int64
 15  Quantity       1093 non-null   int64
dtypes: int64(5), object(11)
memory usage: 145.2+ KB
None

In [7]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1093 entries, 0 to 74
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       1093 non-null   int64
 1   Order Date     1093 non-null   object
 2   Customer Name  1093 non-null   object
 3   City           1093 non-null   object
 4   Country        1093 non-null   object
 5   State          1093 non-null   object
 6   Region         1093 non-null   object
 7   Segment        1093 non-null   object
 8   Ship Mode      1093 non-null   object
 9   Category       1093 non-null   object
 10  Sub-Category   1093 non-null   object
 11  Product Name   1093 non-null   object
 12  Cost           1093 non-null   int64
 13  Sales          1093 non-null   int64
 14  Profit         1093 non-null   int64
 15  Quantity       1093 non-null   int64
dtypes: int64(5), object(11)
memory usage: 145.2+ KB

In [8]:
# Updating the master Spreadsheet if any changes occur in source worksheet
worksheet = dest_sheet.worksheet('master_sheet')
worksheet.update([combined_df.columns.values.tolist()] + combined_df.values.tolist())

{'spreadsheetId': '1Kq3U0XSGNFXeTM5Cu39bGZYGT7bcwjQPdAi5aRJC2Sg',
 'updatedRange': 'master_sheet!A1:P1094',
 'updatedRows': 1094,
 'updatedColumns': 16,
 'updatedCells': 17504}